<template>
  <div class="background">
    <div class="header">
      <h1>Can I get your ID</h1>
    </div>
    <span
      >We need to collect your profile data for send alert <br />
      please click at accept button
    </span>
    <button @click="getID">Yes</button>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import liff from "@line/liff";
import axios from "axios";
const userID = ref('');
const note = ref('');
const todoLists = ref('');
const os = ref('');
const language = ref('');
const version = ref('');
const inClient = ref('');
const loggedIn = ref('');
const context = ref({
  type: '',
  viewType: '',
  userId: '',
  utouId: '',
  roomId: '',
  groupId: '',
});
const userData = ref({
  userId: null,
  displayName: null,
  statusMessage: null,
  UserName: null,
  UserEmail: null,
  password: null
});

const LineUserId = ref("");
const getID = () => {
  
  const body = {
    line_user_ID: userData.value.userId,
    name: userData.value.displayName,
    register_time: new Date()
  }
  console.log("body = ",body);
  axios.post("http://localhost:6060/api/users",body).then((response) => {
    console.log("get id complete ",response.data);
    alert('Success')
    liff.closeWindow()
  }).catch((err)=>{
    alert('Fail')
    console.log(err);
  })
};
const profile = ref()
onMounted(() => {
  liff.init({ liffId: "2004782468-EG2ZYOVo" }, () => {
    if (liff.isLoggedIn()) {
      liff.getProfile().then((profile) => {
        userData.value.userId = profile.userId;
        userData.value.displayName = profile.displayName;
        userData.value.pictureUrl = profile.pictureUrl;
        userData.value.email = profile.email;
        console.log("line idtoy = ", userData.value.userId);
      });
    } else {
      liff.login();
    }

    os.value = liff.getOS();
    language.value = liff.getLanguage();
    version.value = liff.getVersion();
    inClient.value = liff.isInClient();
    loggedIn.value = liff.isLoggedIn();
    const ctx = liff.getContext();
    if (ctx) {
      context.value.type = ctx.type;
      context.value.viewType = ctx.viewType;
      context.value.userId = ctx.userId;
      context.value.utouId = ctx.utouId || "You are not in the utou";
      context.value.roomId = ctx.roomId || "You are not in the room";
      context.value.groupId = ctx.groupId || "You are not in the group";
    }
  },
    err => console.error(err.code, err.message));
});

</script>

<style scoped>
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  text-align: center;
  background-color: aqua;
  border-radius: 0 0 10px 10px ;
  width: 100%;
}
button {
  margin-top: 20px;
  width: 150px;
}
</style>
